@import "reset";
//the variables
$width: 100%;
$col-size: $width / 12;

//display
.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}

.center-2 {
  justify-self: center;
}

.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-end {
  align-self: flex-end;
}
.flex-start {
  justify-self: flex-start;
}
.row {
  display: flex;
  position: relative;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  z-index: 100;
}

//the grid

// for larger screens above 768px
@for $i from 1 through 12 {
  .col-xl-#{$i} {
    width: $col-size * $i;
    // padding: 1%;
  }

  .offset-xl-#{$i} {
    margin-left: $col-size * $i;
  }
}

// for medium sized screens
@media only screen and (max-width: 768px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: $col-size * $i;
      // padding: 1%;
    }

    .offset-md-#{$i} {
      margin-left: $col-size * $i;
    }
  }
}

// for small sized screens
@media only screen and (max-width: 600px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: $col-size * $i;
      // padding: 1%;
    }

    .offset-sm-#{$i} {
      margin-left: $col-size * $i;
    }
  }
}

// navbar
nav {
  .nav-link-2 {
    font-family: "Titillium Web", sans-serif;
    font-size: medium;
    padding: 20px;
    color: white;
    text-decoration: none;
  }
  .nav-link {
    font-family: "Titillium Web", sans-serif;
    font-size: medium;
    padding: 10px;
    color: white;
    text-decoration: none;
    &:hover {
      font-weight: bolder;
    }
  }
}

//Heading
.heading {
  font-size: -webkit-xxx-large;
  font-family: "Titillium Web", sans-serif;
  color: white;
}

//button
.btn {
  &.btn-green {
    background-color: #5cac72;
    border-radius: 24px;
    height: 40px;
    color: white;
    border-color: transparent;
    &:hover {
      background-color: transparent;
      height: 40px;
      font-weight: bolder;
      color: white;
      transition-duration: 1s;
    }
  }
  &.btn-light {
    background-color: transparent;
    height: 40px;
    font-weight: bolder;
    border-color: transparent;

    color: white;
    &:hover {
      background-color: #5cac72;
      border-radius: 24px;
      height: 40px;
      color: white;
      border-color: transparent;
      transition-duration: 1s;
      border: 1px;
    }
  }
}
