body {
  margin: 0%;
}
/*Section one*/
.section-one {
  height: 100vh;
  background-color: #223e9c;
}

.hero-text {
  align-content: center;
  height: 90%;
}

.hero-text .heading {
  align-self: center;
}

.hero-text p {
  margin: 20px 0px 60px;
  color: #7582b9;
}

/*Dashboard NavBar*/
.dashboard {
  height: 50px;
  background-color: #304773;
}

.dashboard .nav-link {
  padding: 16px;
}

.fa-user {
  font-size: larger;
}

.nav-col .nav-link {
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #c6c8c9;
}

.info-section {
  height: 100px;
}

/*Sidemenu */
.side-menu {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  position: fixed;
}

.side-menu img {
  height: 200px;
}
.side-menu p {
  box-sizing: border-box;
  padding: 0%;
  height: 40px;
}
.side-menu-links {
  padding-top: 60px;
}

.side-menu-name {
  text-align: center;
  padding: 20px;
}

/*Content*/
.content {
  background-color: #edf0fd8f;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  height: -webkit-fill-available;
}

.content .row {
  padding: 10px;
}

.content .row div img {
  height: 70px;
}
.content-info {
  margin-bottom: 60px;
}
.content-info h2,
.content h2 {
  font-weight: bolder;
  color: #07265f;
}

.content-info p,
.content p {
  font-size: x-small;
  padding: 4px;
}

/*Section two*/
.section-two {
  height: 100vh;
  background-color: #fff;
}

.hero-text-two {
  padding-top: 20%;
  align-content: center;
  height: 90%;
}

.hero-text-two .heading {
  align-self: center;
  color: #07265f;
}

.hero-text-two p {
  margin: 20px 0px 60px;
  color: #07265f;
}

.top {
  height: 50vh;
}

.bottom {
  height: 50vh;
}
